[project]
	description = CS61B, UC Berkeley, Jonathan Shewchuk
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Senon (SenonLi)
[access "refs/for/refs/*"]
	read = group user/Senon (SenonLi)
	push = group user/Senon (SenonLi)
	label-Code-Review = -2..+2 group user/Senon (SenonLi)
	label-Verified = -1..+1 group user/Senon (SenonLi)
	rebase = group user/Senon (SenonLi)
	removeReviewer = group user/Senon (SenonLi)
	submit = group user/Senon (SenonLi)
[access "refs/heads/*"]
	read = group user/Senon (SenonLi)
	create = group user/Senon (SenonLi)
	push = +force group user/Senon (SenonLi)
	pushMerge = group user/Senon (SenonLi)
[access "refs/tags/*"]
	push = group user/Senon (SenonLi)
	push = +force group user/Senon (SenonLi)
